
.icon-ti-basket:before { content: '\e800'; } /* '' */
.icon-ti-search:before { content: '\e801'; } /* '' */
.icon-ti-shuffle:before { content: '\e802'; } /* '' */
.icon-ti-trash-o:before { content: '\e803'; } /* '' */
.icon-ti-box:before { content: '\e804'; } /* '' */
.icon-ti-basket-outline:before { content: '\e805'; } /* '' */
.icon-ti-heart-o-bold:before { content: '\e806'; } /* '' */
.icon-ti-gift:before { content: '\e807'; } /* '' */
.icon-ti-database:before { content: '\e808'; } /* '' */
.icon-ti-stock:before { content: '\e809'; } /* '' */
.icon-ti-remittance:before { content: '\e80a'; } /* '' */
.icon-ti-alert-list:before { content: '\e80b'; } /* '' */
.icon-ti-credit-card-alt:before { content: '\e80c'; } /* '' */
.icon-ti-clipboard:before { content: '\e80d'; } /* '' */
.icon-ti-user-delete:before { content: '\e80e'; } /* '' */
.icon-ti-calendar:before { content: '\e80f'; } /* '' */
.icon-ti-mail-outline:before { content: '\e810'; } /* '' */
.icon-ti-user:before { content: '\e811'; } /* '' */
.icon-ti-heart-o:before { content: '\e812'; } /* '' */
