* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  line-height: 120%;
  font-family: Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}
[data-fancybox] img {
  width: 100%;
  height: 200px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 8px;
  object-fit: cover;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0;
}