
.ti-phone:before { content: '\e800'; } /* '' */
.ti-heart-o:before { content: '\e801'; } /* '' */
.ti-heart:before { content: '\e802'; } /* '' */
.ti-user-alt:before { content: '\e803'; } /* '' */
.ti-basket:before { content: '\e804'; } /* '' */
.ti-check:before { content: '\e805'; } /* '' */
.ti-arrow-down:before { content: '\e806'; } /* '' */
.ti-arrow-left:before { content: '\e807'; } /* '' */
.ti-arrow-right:before { content: '\e808'; } /* '' */
.ti-arrow-up:before { content: '\e809'; } /* '' */
.ti-search:before { content: '\e80a'; } /* '' */
.ti-shuffle:before { content: '\e80b'; } /* '' */
.ti-location:before { content: '\e80c'; } /* '' */
.ti-mail-o:before { content: '\e80d'; } /* '' */
.ti-homepage:before { content: '\e80e'; } /* '' */
.ti-plus:before { content: '\e80f'; } /* '' */
.ti-minus:before { content: '\e810'; } /* '' */
.ti-menu:before { content: '\e811'; } /* '' */
.ti-comment-o:before { content: '\e812'; } /* '' */
.ti-bell-o:before { content: '\e813'; } /* '' */
.ti-star:before { content: '\e814'; } /* '' */
.ti-star-empty:before { content: '\e815'; } /* '' */
.ti-thumbs-up-o:before { content: '\e816'; } /* '' */
.ti-thumbs-down-o:before { content: '\e817'; } /* '' */
.ti-chat-o:before { content: '\e818'; } /* '' */
.ti-chat:before { content: '\e819'; } /* '' */
.ti-cw:before { content: '\e81a'; } /* '' */
.ti-close:before { content: '\e81b'; } /* '' */
.ti-calendar:before { content: '\e81c'; } /* '' */
.ti-shop:before { content: '\e81d'; } /* '' */
.ti-globe:before { content: '\e81e'; } /* '' */
.ti-print:before { content: '\e81f'; } /* '' */
.ti-trash-o:before { content: '\e820'; } /* '' */
.ti-pencil:before { content: '\e821'; } /* '' */
.ti-order-follow-up:before { content: '\e822'; } /* '' */
.ti-basket-outline:before { content: '\e823'; } /* '' */
.ti-zoom-in:before { content: '\e824'; } /* '' */
.ti-zoom-out:before { content: '\e825'; } /* '' */
.ti-user:before { content: '\e826'; } /* '' */
.ti-gift:before { content: '\e827'; } /* '' */
.ti-clipboard:before { content: '\e828'; } /* '' */
.ti-chat-alt:before { content: '\e829'; } /* '' */
.ti-power-off:before { content: '\e82a'; } /* '' */
.ti-credit-card:before { content: '\e82b'; } /* '' */
.ti-database:before { content: '\e82c'; } /* '' */
.ti-logout:before { content: '\e82d'; } /* '' */
.ti-login:before { content: '\e82e'; } /* '' */
.ti-return:before { content: '\e82f'; } /* '' */
.ti-user-add:before { content: '\e830'; } /* '' */
.ti-user-delete:before { content: '\e831'; } /* '' */
.ti-user-add-o:before { content: '\e832'; } /* '' */
.ti-user-delete-o:before { content: '\e833'; } /* '' */
.ti-box:before { content: '\e834'; } /* '' */
.ti-eye:before { content: '\e835'; } /* '' */
.ti-eye-off:before { content: '\e836'; } /* '' */
.ti-truck:before { content: '\e837'; } /* '' */
.ti-truck-o:before { content: '\e838'; } /* '' */
.ti-picture:before { content: '\e839'; } /* '' */
.ti-tag:before { content: '\e83a'; } /* '' */
.ti-tags:before { content: '\e83b'; } /* '' */
.ti-download:before { content: '\e83c'; } /* '' */
.ti-upload:before { content: '\e83d'; } /* '' */
.ti-th:before { content: '\e83e'; } /* '' */
.ti-th-large:before { content: '\e83f'; } /* '' */
.ti-play:before { content: '\e840'; } /* '' */
.ti-stop:before { content: '\e841'; } /* '' */
.ti-pause:before { content: '\e842'; } /* '' */
.ti-resize-full:before { content: '\e843'; } /* '' */
.ti-resize-small:before { content: '\e844'; } /* '' */
.ti-store:before { content: '\e845'; } /* '' */
.ti-comment-multiple:before { content: '\f03d'; } /* '' */
.ti-twitter:before { content: '\f099'; } /* '' */
.ti-facebook:before { content: '\f09a'; } /* '' */
.ti-filter:before { content: '\f0b0'; } /* '' */
.ti-copy:before { content: '\f0c5'; } /* '' */
.ti-gplus:before { content: '\f0d5'; } /* '' */
.ti-mail:before { content: '\f0e0'; } /* '' */
.ti-linkedin:before { content: '\f0e1'; } /* '' */
.ti-download-cloud:before { content: '\f0ed'; } /* '' */
.ti-upload-cloud:before { content: '\f0ee'; } /* '' */
.ti-bell:before { content: '\f0f3'; } /* '' */
.ti-angle-double-left:before { content: '\f100'; } /* '' */
.ti-angle-double-right:before { content: '\f101'; } /* '' */
.ti-angle-double-up:before { content: '\f102'; } /* '' */
.ti-angle-double-down:before { content: '\f103'; } /* '' */
.ti-angle-left:before { content: '\f104'; } /* '' */
.ti-angle-right:before { content: '\f105'; } /* '' */
.ti-angle-up:before { content: '\f106'; } /* '' */
.ti-angle-down:before { content: '\f107'; } /* '' */
.ti-circle-o:before { content: '\f10c'; } /* '' */
.ti-circle:before { content: '\f111'; } /* '' */
.ti-help:before { content: '\f128'; } /* '' */
.ti-attention-alt:before { content: '\f12a'; } /* '' */
.ti-euro:before { content: '\f153'; } /* '' */
.ti-dollar:before { content: '\f155'; } /* '' */
.ti-thumbs-up:before { content: '\f164'; } /* '' */
.ti-thumbs-down:before { content: '\f165'; } /* '' */
.ti-youtube:before { content: '\f167'; } /* '' */
.ti-youtube-play:before { content: '\f16a'; } /* '' */
.ti-instagram:before { content: '\f16d'; } /* '' */
.ti-tumblr:before { content: '\f173'; } /* '' */
.ti-apple:before { content: '\f179'; } /* '' */
.ti-try:before { content: '\f195'; } /* '' */
.ti-google:before { content: '\f1a0'; } /* '' */
.ti-reddit:before { content: '\f1a1'; } /* '' */
.ti-file-image:before { content: '\f1c5'; } /* '' */
.ti-lifebuoy:before { content: '\f1cd'; } /* '' */
.ti-paper-plane:before { content: '\f1d8'; } /* '' */
.ti-paper-plane-o:before { content: '\f1d9'; } /* '' */
.ti-share:before { content: '\f1e0'; } /* '' */
.ti-share-squared:before { content: '\f1e1'; } /* '' */
.ti-trash:before { content: '\f1f8'; } /* '' */
.ti-copyright:before { content: '\f1f9'; } /* '' */
.ti-at:before { content: '\f1fa'; } /* '' */
.ti-pinterest:before { content: '\f231'; } /* '' */
.ti-whatsapp:before { content: '\f232'; } /* '' */
.ti-clone:before { content: '\f24d'; } /* '' */
.ti-credit-card-alt:before { content: '\f283'; } /* '' */
.ti-question-circle-o:before { content: '\f29c'; } /* '' */
.ti-volume-phone:before { content: '\f2a0'; } /* '' */
.ti-comment:before { content: '\f4ac'; } /* '' */
