
.icon-ti-heart-o:before { content: '\e800'; } /* '' */
.icon-ti-truck-o:before { content: '\e801'; } /* '' */
.icon-ti-basket:before { content: '\e802'; } /* '' */
.icon-ti-search-o:before { content: '\e803'; } /* '' */
.icon-ti-purse:before { content: '\e804'; } /* '' */
.icon-ti-shuffle:before { content: '\e805'; } /* '' */
.icon-ti-search:before { content: '\e806'; } /* '' */
.icon-ti-user:before { content: '\e807'; } /* '' */
.icon-ti-gift:before { content: '\e808'; } /* '' */
.icon-ti-stock-alert:before { content: '\e809'; } /* '' */
.icon-ti-database:before { content: '\e80a'; } /* '' */
.icon-ti-location:before { content: '\e80b'; } /* '' */
.icon-ti-order-track:before { content: '\e80c'; } /* '' */
.icon-credit-card-alt:before { content: '\e80d'; } /* '' */
.icon-ti-clipboard:before { content: '\e80e'; } /* '' */
.icon-ti-calendar:before { content: '\e810'; } /* '' */
.icon-ti-user-delete:before { content: '\e811'; } /* '' */
.icon-ti-mail-outline:before { content: '\e812'; } /* '' */
.icon-ti-pencil:before { content: '\e813'; } /* '' */
.icon-ti-remittance:before { content: '\e814'; } /* '' */
