@import url(fragments.css);
@import url(searchbox.css);
@import url(skeleton.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
  font-family: 'Open Sans', sans-serif;
}
:root {
  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 90%;
  --ifm-background-color: var(--white);
  --ifm-color-primary: var(--nebula-blue);
  --ifm-footer-background-color: var(--moon-grey);
  --ifm-menu-color-background-active: var(--ifm-color-emphasis-200);
  --ifm-bg-white: #ffffff;
  --ifm-master-border: #dee2e6;
  --soft-yellow: #fffbd9;
  --border-light: #eaeaea;
  --soft-blue: #e8f2ff;
  --content-bg: #ffffff;
  --color-secondary: #dddddd;
}

html[data-theme='dark'] {
  --ifm-scrollbar-track-background-color: #292d3e;
  --ifm-font-base-color: #dee0f2;
  --ifm-navbar-link-hover-color: #8b9dff;
  --ifm-link-color: #8b9dff;
  --ifm-menu-color-active: #8b9dff;
  --ifm-background-color: #0a141c;
  --ifm-footer-background-color: #0a141c;
  --ifm-navbar-background-color: #21243d;
  --ifm-menu-color-background-active: #21243d;
  --ifm-bg-white: #0a141c;
  --ifm-master-border: #777777;
  --soft-yellow: #211d00;
  --border-light: #404040;
  --soft-blue: #002a61;
  --content-bg: #202020;
  --color-secondary: #343434;
}

.bg-gray {
  background-color: var(--ifm-code-background) !important;
}

.bg-secondary {
  background-color: var(--ifm-code-background) !important;
}

.bg-yellow {
  background-color: var(--soft-yellow) !important;
}

.bg-analytics {
  position: relative;
}

.bg-analytics::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -300px;
}

#hero {
  background-image: linear-gradient(var(--ifm-navbar-background-color),
      var(--ifm-footer-background-color));
}

html[data-theme='dark'] #hero {
  background-image: linear-gradient(var(--ifm-background-color),
      var(--ifm-navbar-background-color));
}

.docsearch-logo {
  color: #21243d;
}

html[data-theme='dark'] .docsearch-logo {
  color: #fff;
}

html[data-theme='dark'] div[class*='background-curves-Hero'] {
  opacity: 0.4;
}

html[data-theme='dark'] .bg-analytics::after {
  opacity: 0.1;
}

html[data-theme='dark'] .uil-bgc-white {
  background-color: var(--ifm-background-color);
}

html[data-theme='dark'] .uil-bgc-moon {
  background-color: var(--ifm-navbar-background-color);
}

html[data-theme='dark'] .uil-color-solstice {
  color: var(--ifm-font-base-color);
}

html[data-theme='dark'] .uil-color-telluric {
  color: var(--ifm-font-base-color);
}

html[data-theme='dark'] .react-toggle-track {
  background-color: var(--ifm-footer-background-color);
}

html[data-theme='dark'] img.ds-icon {
  filter: invert();
}

html[data-theme='dark'] img.github__logo {
  filter: none;
}

html:not([data-theme='dark']) img.github__logo {
  filter: invert();
}

html[data-theme='dark'] [class*='light-Card'] {
  -webkit-transition: -webkit-transform 0.2s ease-out, box-shadow 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  background-image: radial-gradient(circle at 50% 0, #3a416f, #21243d);
}

code {
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal) !important;
}
.footer .footer__logo {
  max-width: 6rem;
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-src-theme-DocPage- {
  background-color: var(--ifm-background-color);
  background-image: linear-gradient(90deg,
      var(--ifm-background-color) 95%,
      var(--ifm-footer-background-color));
  border: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(0.75);
  }
}

.ds-icon-heart {
  margin-left: 1em;
  margin-right: 1em;
  animation: heartbeat 1s infinite;
  transform-origin: center;
}

[class*='announcementBar_'] {
  z-index: 1;
}
/* all effects */
.v5-example-content-effects {
  background-color: var(--ifm-color-emphasis-200);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.v5-example-content-effects .box {
  width: 200px;
  height: 300px;
  background-color: var(--ifm-color-emphasis-0);
  border-radius: 5px;
  overflow: hidden;
}
.v5-example-content-effects .box .box-icon {
  position: relative;
  z-index: 2;
}
.v5-example-content-effects .box .box-icon .ti-icon {
  position: absolute;
  background-color: var(--ifm-color-warning-light);
  color: #444444;
  font-weight: 800;
  padding: 3px;
  border-radius: 3px;
  left: 5px;
  top: 5px;
}
.v5-example-content-effects .box .box-info {
  padding: 0 5px;
}
.v5-example-content-effects .box .box-image {
  height: 200px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}
.v5-example-content-effects .box .box-title {
  padding: 3px;
  font-weight: 700;
}
.v5-example-content-effects .box .box-desc {
  padding: 3px;
  font-size: 14px;
  line-height: 150%;
  color: #444;
}

.effect-wrapper [class*="hover-"]:not(.hover-transition-none) {
  transition: all 0.5s !important;
}
.effect-wrapper .hover-visible {
  visibility: hidden !important;
  opacity: 0 !important;
}
.effect-wrapper .hover-grayscale-reverse {
  filter: grayscale(1) !important;
}
.effect-wrapper .hover-blur-reverse {
  filter: blur(3px) !important;
}
.effect-wrapper .hover-opacity {
  opacity: 0.5 !important;
}
.effect-wrapper:hover {
 /* all effects */
}
.effect-wrapper:hover .hover-block {
  display: block !important;
}
.effect-wrapper:hover .hover-inline-block {
  display: inline-block !important;
}
.effect-wrapper:hover .hover-flex {
  display: flex !important;
}
.effect-wrapper:hover .hover-inline-flex {
  display: inline-flex !important;
}
.effect-wrapper:hover .hover-none {
  display: none !important;
}
.effect-wrapper:hover .hover-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}
.effect-wrapper:hover .hover-visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.effect-wrapper:hover .hover-transition-none {
  transition: none !important;
}
.effect-wrapper:hover .hover-scale {
  transform: scale(1.05) !important;
}
.effect-wrapper:hover .hover-scale-lg {
  transform: scale(1.2) !important;
}
.effect-wrapper:hover .hover-grayscale {
  filter: grayscale(1) !important;
}
.effect-wrapper:hover .hover-grayscale-reverse {
  filter: grayscale(0) !important;
}
.effect-wrapper:hover .hover-blur {
  filter: blur(3px) !important;
}
.effect-wrapper:hover .hover-blur-reverse {
  filter: blur(0) !important;
}
.effect-wrapper:hover .hover-opacity {
  opacity: 1 !important;
}
.effect-wrapper:hover .hover-opacity-reverse {
  opacity: 0.75 !important;
}
.effect-wrapper:hover .hover-to-up {
  transform: translateY(-10px) !important;
}
.effect-wrapper:hover .hover-to-down {
  transform: translateY(10px) !important;
}
.effect-wrapper:hover .hover-to-left {
  transform: translateX(-10px) !important;
}
.effect-wrapper:hover .hover-to-right {
  transform: translateX(10px) !important;
}
.effect-wrapper:hover .hover-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px !important;
}
.effect-wrapper:hover .hover-bg-transparent {
  background: transparent !important;
}
.effect-wrapper:hover .hover-color-primary {
  color: #fd6905 !important;
}
.effect-wrapper:hover .hover-bg-primary {
  background-color: #fd6905 !important;
}
.effect-wrapper:hover .hover-border-primary {
  border-color: #fd6905 !important;
}
.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 8px;
}

@media (min-width: 768px) {
  .gap-1 {
      gap: 15px;
  }
}

.gap-2 {
  gap: 16px;
}

@media (min-width: 768px) {
  .gap-2 {
      gap: 30px;
  }
}

.gap-3 {
  gap: 24px;
}

@media (min-width: 768px) {
  .gap-3 {
      gap: 45px;
  }
}

.gap-4 {
  gap: 32px;
}

@media (min-width: 768px) {
  .gap-4 {
      gap: 60px;
  }
}

.gap-5 {
  gap: 40px;
}

@media (min-width: 768px) {
  .gap-5 {
      gap: 75px;
  }
}

.box-shadow {
  box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
}

.box-shadow-2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
}

.box-shadow-3 {
  box-shadow: rgba(17, 17, 26, 0.05) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
}

.box-shadow-4 {
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
}

.box-shadow-5 {
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 48px;
}
/* all overlay */
.v5-example-content-overlay .box-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.overlay-primary {
  background-color: rgba(253, 105, 5, 0.5) !important;
}

.overlay-secondary {
  background-color: rgba(221, 221, 221, 0.5) !important;
}

.overlay-white {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.overlay-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.overlay-success {
  background-color: rgba(68, 198, 31, 0.5) !important;
}

.overlay-info {
  background-color: rgba(147, 216, 221, 0.5) !important;
}

.overlay-warning {
  background-color: rgba(252, 223, 39, 0.5) !important;
}

.overlay-danger {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.overlay-gray {
  background-color: rgba(160, 160, 160, 0.5) !important;
}

.overlay-light {
  background-color: rgba(249, 249, 249, 0.5) !important;
}

.overlay-dark {
  background-color: rgba(44, 42, 40, 0.5) !important;
}
.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fs-6 {
  font-size: 1rem !important;
}
@media screen and (min-width: 992px) {
  [tooltip] {
      position:relative
  }

  [tooltip]::before,[tooltip]::after {
      font-size: 0.8em;
      line-height: 150%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
      position: absolute;
      display: none;
      opacity: 0
  }

  [tooltip]::before {
      content: "";
      border: 5px solid transparent;
      z-index: 1001
  }

  [tooltip]::after {
      content: attr(tooltip);
      text-align: center;
      min-width: 3em;
      max-width: 21em;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      padding: 1ch 1.5ch;
      border-radius: 0.3ch;
      -webkit-box-shadow: 0 1em 2em -0.5em rgba(0,0,0,0.35);
      box-shadow: 0 1em 2em -0.5em rgba(0,0,0,0.35);
      background: #333333;
      color: #ffffff;
      z-index: 1000
  }

  [tooltip]:hover::before,[tooltip]:hover::after {
      display: block
  }

  [tooltip=""]::before,[tooltip=""]::after {
      display: none !important
  }

  [tooltip]:not([placement])::before,[tooltip][placement^="up"]::before {
      bottom: 100%;
      border-bottom-width: 0;
      border-top-color: #333
  }

  [tooltip]:not([placement])::after,[tooltip][placement^="up"]::after {
      bottom: calc(100% + 5px)
  }

  [tooltip]:not([placement])::before,[tooltip]:not([placement])::after {
      left: 50%;
      -webkit-transform: translate(-50%, -0.5em);
      -ms-transform: translate(-50%, -0.5em);
      transform: translate(-50%, -0.5em)
  }

  [tooltip][placement^="up"]::before,[tooltip][placement^="up"]::after {
      left: 50%;
      -webkit-transform: translate(-50%, -0.5em);
      -ms-transform: translate(-50%, -0.5em);
      transform: translate(-50%, -0.5em)
  }

  [tooltip][placement^="down"]::before {
      top: 100%;
      border-top-width: 0;
      border-bottom-color: #333
  }

  [tooltip][placement^="down"]::after {
      top: calc(100% + 5px)
  }

  [tooltip][placement^="down"]::before,[tooltip][placement^="down"]::after {
      left: 50%;
      -webkit-transform: translate(-50%, 0.5em);
      -ms-transform: translate(-50%, 0.5em);
      transform: translate(-50%, 0.5em)
  }

  [tooltip][placement^="left"]::before {
      top: 50%;
      border-right-width: 0;
      border-left-color: #333333;
      left: calc(0em - 5px);
      -webkit-transform: translate(-0.5em, -50%);
      -ms-transform: translate(-0.5em, -50%);
      transform: translate(-0.5em, -50%)
  }

  [tooltip][placement^="left"]::after {
      top: 50%;
      right: calc(100% + 5px);
      -webkit-transform: translate(-0.5em, -50%);
      -ms-transform: translate(-0.5em, -50%);
      transform: translate(-0.5em, -50%)
  }

  [tooltip][placement^="right"]::before {
      top: 50%;
      border-left-width: 0;
      border-right-color: #333;
      right: calc(0em - 5px);
      -webkit-transform: translate(0.5em, -50%);
      -ms-transform: translate(0.5em, -50%);
      transform: translate(0.5em, -50%)
  }

  [tooltip][placement^="right"]::after {
      top: 50%;
      left: calc(100% + 5px);
      -webkit-transform: translate(0.5em, -50%);
      -ms-transform: translate(0.5em, -50%);
      transform: translate(0.5em, -50%)
  }

  [tooltip]:not([placement]):hover::before,[tooltip]:not([placement]):hover::after {
      -webkit-animation: tooltips-vert 300ms ease-out forwards;
      animation: tooltips-vert 300ms ease-out forwards
  }

  [tooltip][placement^="up"]:hover::before,[tooltip][placement^="up"]:hover::after {
      -webkit-animation: tooltips-vert 300ms ease-out forwards;
      animation: tooltips-vert 300ms ease-out forwards
  }

  [tooltip][placement^="down"]:hover::before,[tooltip][placement^="down"]:hover::after {
      -webkit-animation: tooltips-vert 300ms ease-out forwards;
      animation: tooltips-vert 300ms ease-out forwards
  }

  [tooltip][placement^="left"]:hover::before,[tooltip][placement^="left"]:hover::after {
      -webkit-animation: tooltips-horz 300ms ease-out forwards;
      animation: tooltips-horz 300ms ease-out forwards
  }

  [tooltip][placement^="right"]:hover::before,[tooltip][placement^="right"]:hover::after {
      -webkit-animation: tooltips-horz 300ms ease-out forwards;
      animation: tooltips-horz 300ms ease-out forwards
  }

  @-webkit-keyframes tooltips-vert {
      to {
          opacity: 0.9;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0)
      }
  }

  @keyframes tooltips-vert {
      to {
          opacity: 0.9;
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0)
      }
  }

  @-webkit-keyframes tooltips-horz {
      to {
          opacity: 0.9;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%)
      }
  }

  @keyframes tooltips-horz {
      to {
          opacity: 0.9;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%)
      }
  }
}
/* v5 dokumanda olmayanlar */
.border {
  border: 1px solid var(--border-light);
}

.bg-white {
  background-color: var(--content-bg) !important;
}

.bg-gray {
  background-color: var(--ifm-code-background);
}

.ts-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}

.text-nowrap {
  white-space: nowrap;
}

.text-space-nowrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

table {
  display: inline-table !important;
}

.min-vh-75 {
  min-height: 75vh;
}

.shadow {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, .1);
}

.component-card {
  color: inherit;
  text-decoration: none;
}

.component-card span {
  font-size: 10pt;
}

.component-card:hover {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, .3);
}

.fst-italic {
  font-style: italic;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-1 {
    font-size: 5rem
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-2 {
    font-size: 4.5rem
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-3 {
    font-size: 4rem
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-4 {
    font-size: 3.5rem
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-5 {
    font-size: 3rem
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2
}

@media (min-width:1200px) {
  .display-6 {
    font-size: 2.5rem
  }
}

.doc-image-example {
  font-size: calc(1.4rem + 2.7vw);
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.doc-image-example svg {
  border-radius: 5px;
}

[data-theme='dark'] .bg-light {
  background-color: #000000 !important;
}

.badge-rounded-pill {
  display: inline-block;
  background-color: #0d6efd;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem;
}

.rounded {
  border-radius: .25rem;
}


.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none
}

.nav>li>a {
  display: block
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee
}

.nav-tabs,
.nav-pills {
  *zoom: 1
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: ""
}

.nav-tabs:after,
.nav-pills:after {
  clear: both
}

.nav-tabs>li,
.nav-pills>li {
  float: left
}

.nav-tabs>li>a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd
}

.nav-tabs>li {
  margin-top: auto !important;
  margin-bottom: -1px
}

.nav-tabs>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent
}

.nav-pills>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
  color: #fff;
  background-color: #08c
}

.nav-stacked>li {
  float: none
}

.nav-stacked>li>a {
  margin-right: 0
}

.nav-tabs.nav-stacked {
  border-bottom: 0
}

.nav-tabs.nav-stacked>li>a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.nav-tabs.nav-stacked>li:first-child>a {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px
}

.nav-tabs.nav-stacked>li:last-child>a {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px
}

.nav-tabs.nav-stacked>li>a:hover {
  z-index: 2;
  border-color: #ddd
}

.nav-pills.nav-stacked>li>a {
  margin-bottom: 3px
}

.nav-pills.nav-stacked>li:last-child>a {
  margin-bottom: 1px
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #08c;
  border-bottom-color: #08c
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580
}

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555;
  border-bottom-color: #555
}

.nav>.dropdown.active>a:hover {
  cursor: pointer
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav>li.dropdown.open.active>a:hover {
  color: #fff;
  background-color: #999;
  border-color: #999
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 1;
  filter: alpha(opacity=100)
}

.tabs-stacked .open>a:hover {
  border-color: #999
}

.tabbable {
  *zoom: 1
}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: ""
}

.tabbable:after {
  clear: both
}

.tab-content {
  overflow: auto
}

.tabs-below>.nav-tabs,
.tabs-right>.nav-tabs,
.tabs-left>.nav-tabs {
  border-bottom: 0
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: none
}

.tab-content>.active,
.pill-content>.active {
  display: block
}

.tabs-below>.nav-tabs {
  border-top: 1px solid #ddd
}

.tabs-below>.nav-tabs>li {
  margin-top: -1px;
  margin-bottom: 0
}

.tabs-below>.nav-tabs>li>a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px
}

.tabs-below>.nav-tabs>li>a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent
}

.tabs-below>.nav-tabs>.active>a,
.tabs-below>.nav-tabs>.active>a:hover {
  border-color: transparent #ddd #ddd #ddd
}

.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {
  float: none
}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px
}

.tabs-left>.nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd
}

.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px
}

.tabs-left>.nav-tabs>li>a:hover {
  border-color: #eee #ddd #eee #eee
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #fff;
}

.tabs-right>.nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd
}

.tabs-right>.nav-tabs>li>a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0
}

.tabs-right>.nav-tabs>li>a:hover {
  border-color: #eee #eee #eee #ddd
}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff
}

.nav>.disabled>a {
  color: #999
}

.nav>.disabled>a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent
}

.tab:not(:target) {
  display: none;
}

.tab:last-child {
  display: block;
}

.tab:target~.tab:last-child {
  display: none;
}

.tabs {
  display: block;
  width: 100%;
}

.response-200 {
  display: inline-block;
  background-color: #44c61f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
}

.response-500 {
  display: inline-block;
  background-color: #f00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
}

.v5-example-border-utils .v5-example-border {
  width: 100px;
  height: 100px;
}

html[data-theme='dark'] .v5-example-border-utils .v5-example-border {
  border-color: #dfdfdf !important;
}

/* TODO: standart.css e eklenmesi gerekiyor */
.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.v5-example-overflow-utils .v5-example-overflow {
  height: 150px;
}
.v5-example-overflow-utils .v5-example-overflow-wide {
  width: 115%;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-y-scroll {
  overflow-y: scroll !important;
}
.v5-example-position-utils {
  min-height: 150px;
}

.v5-example-position-utils .v5-example-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.v5-example-layout-alignment {
  height: 200px;
}

.v5-example-alert-info {
  background-color: var(--soft-blue);
  padding: 1.25rem 1rem;
  border-left: 3px solid #0086ff;
  border-radius: 3px;
}

.v5-example-alert-info a {
  color: #fd6905 !important
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.v5-example-utilities-sizing {
  height: 200px;
}

.v5-example-utilities-flex-nowrap {
  width: 280px;
}

.v5-example-utilities-flex-wrap {
  width: 80%;
}

.v5-example-utilities-flex-wrap-reverse {
  width: 80%;
}

.v5-highlight {
  background-color: rgba(246, 110, 7, 0.15);
  border: 1px solid rgba(246, 110, 7, 0.15);
}

.v5-example-utilities-spacing-devtools {
  display: flex;
  flex-direction: column;
  background-color: #facda0;
  border: 1px dashed #444444;
  width: 250px;
  padding: 10px 20px 20px;
}

.v5-example-utilities-spacing-devtools-border {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fddd9d;
  border: 1px solid #444444;
  padding: 10px 20px 20px;
}

.v5-example-utilities-spacing-devtools-padding {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #c4cf8b;
  border: 1px dashed #444444;
  padding: 10px 20px 20px;
}

.v5-example-utilities-spacing-devtools-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #8cb6c0;
  border: 1px solid #444444;
  padding: 10px 20px 20px;
}

.v5-example-utilities-buttons {
  flex-wrap: nowrap !important;
  gap: 10px;
}

.h-100vh {
  height: 100vh;
}

.mt-n1 {
  margin-top: -16px;
}

.mb-n1 {
  margin-bottom: -16px;
}

.text-black {
  color: var(--ifm-font-base-color) !important;
}

@font-face {
  font-family: 'tsoft-icon-default';
  src: url('../../static/tsoft-icon/default/font/tsoft-icon.woff2?v=1') format('woff2'),
       url('../../static/tsoft-icon/default/font/tsoft-icon.woff?=v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tsoft-icon-mango';
  src: url('../../static/tsoft-icon/mango/mango-icon.woff2?v=1') format('woff2'),
       url('../../static/tsoft-icon/mango/mango-icon.woff?v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tsoft-icon-basic';
  src: url('../../static/tsoft-icon/basic/basic-icon.woff2?v=1') format('woff2'),
       url('../../static/tsoft-icon/basic/basic-icon.woff?v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tsoft-icon-vesti';
  src: url('../../static/tsoft-icon/vesti/vesti-icon.woff2?v=1') format('woff2'),
       url('../../static/tsoft-icon/vesti/vesti-icon.woff?v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tsoft-icon-petboutiq';
  src: url('../../static/tsoft-icon/petboutiq/petboutiq-icon.woff2?v=1') format('woff2'),
       url('../../static/tsoft-icon/petboutiq/petboutiq-icon.woff?v=1') format('woff');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
  font-family: "tsoft-icon-default";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 20px;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.demo-icon-default {
  font-family: "tsoft-icon-default";
}

.demo-icon-mango {
  font-family: "tsoft-icon-mango";
}

.demo-icon-basic {
  font-family: "tsoft-icon-basic";
}

.demo-icon-vesti {
  font-family: "tsoft-icon-vesti";
}

.demo-icon-petboutiq {
  font-family: "tsoft-icon-petboutiq";
}