.ti-arrow-left::before { content: '\b800'; } /* '렀' */
.ti-arrow-right::before { content: '\b801'; } /* '렁' */
.ti-heart-o::before { content: '\b802'; } /* '렂' */
.ti-basket-outline::before { content: '\b803'; } /* '렃' */
.ti-user::before { content: '\b804'; } /* '렄' */
.ti-gift::before { content: '\b805'; } /* '렅' */
.ti-database::before { content: '\b807'; } /* '렇' */
.ti-location::before { content: '\b808'; } /* '레' */
.ti-bell::before { content: '\b809'; } /* '렉' */
.ti-heart::before { content: '\b80a'; } /* '렊' */
.ti-dollar::before { content: '\b80b'; } /* '렋' */
.ti-bell-o::before { content: '\b80c'; } /* '렌' */
.ti-chat-alt::before { content: '\b80d'; } /* '렍' */
.ti-power-off::before { content: '\b80e'; } /* '렎' */
.ti-credit-card-alt::before { content: '\b80f'; } /* '렏' */
.ti-clipboard::before { content: '\b810'; } /* '렐' */
.ti-user-delete::before { content: '\b811'; } /* '렑' */
.ti-recommend::before { content: '\b812'; } /* '렒' */
.ti-play::before { content: '\b813'; } /* '렓' */
.ti-calendar::before { content: '\b814'; } /* '렔' */
.ti-share::before { content: '\b815'; } /* '렕' */